* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*
html{
  overflow-x:hidden;
  overflow-y:hidden;
}
body{
  
  background:'';
 
background-size: center;
background-position: center;
background-repeat: no-repeat;
}

#phasorgame{
 
  background-size:cover;
  background-position:cover;
  background-repeat: no-repeat;
  
}
 .prescreen{
  display:flex;
  justify-content: center;
  align-items: center;

}
h1{
  position: absolute;
  top:30px;
  width:300px;
  left:550px;
  font-size:50px;
}
#score{
  position:absolute;
  top:30px;
  left:30px;
  font-size:30px;
  text-align: center;
}
#timer{
  position:absolute;
  left:1200px;
  top:30px;
  font-size:30px;
  text-align:center;
}
#background{
  position: absolute;
 
  top:0%;
  height:100%;
  width:100%;
  z-index:3;
 visibility: visible;
 
  backdrop-filter: blur(15px);
  background-image:'';
  
}
#object, #final, #road{
  position:absolute;
  top:50%;
  z-index:2;
} 
#road {
  position:absolute;
  top:200px;
  left:200px;
  transform:scale(1.3,1);
}
#object{
  top:220px;
  z-index:3;
  transform:'';
  transform-origin: center;
  transform-box:fill-box;
  
 
  transition: transform 1s;
 
}
#phaser{
  position: absolute;
  top:60px;
  width:300px;
  left:850px;
  font-size:40px;
}
@keyframes move{
 from{
   left:0px;
 }
  to{
    left:900px;
  }
}
#final{
  top:450px;
  transform:scale(0.2);
  left:1000px;
  z-index:3;
}
button:nth-child(1){
position: absolute;
top:20%;
  width:100%;
}
button:nth-child(2){
  position: absolute;
  top:40%;
    width:150%;
  }
.postGame{

  position: absolute;
  left:30%;
  z-index:3;
  color:white;
  flex-direction:column;
  visibility:hidden;
}
/*.Game{
  background:url('https://i.pinimg.com/736x/b7/be/23/b7be23e794dc3d17b03a7b296ce8c700--game-design-coding.jpg');
  position:absolute;
  color:white;
}*/
/*.postGame, .Instructions, .pregame{

  position:absolute;
  border:solid 2px white;
  padding:30px;
  width:40%;
  top:10%;
  z-index:4;
  font-size:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction:column;
 
}
.Instructions{
  visibility: hidden;
  left:30%;
}
.postGame h2, .pregame h2{
  margin-top:30px;
  text-align: center;
}
.postGame h2{
  font-size:40px;
}
.pregame img{
  height:200px;
  width:200px;
  border-radius:50%;

}
.Instructions h5{
  text-align:center;
}
.postGame button, .pregame button {
  margin-top:50px;
  height:50px;
  background-color:transparent;
  color:white;
  border:2px solid white;
  font-size:20px;
  padding:5px;
  width:80%;

}
button a{
  color:white;
  text-decoration:none;
}

@media screen and (max-width:700px){
  body{
    overflow-x: hidden;
    overflow-y:hidden;

  }
  h1{
    position: absolute;
    top:0px;
    width:30px;
    left:0px;
    font-size:50px;
  } 
  #phaser{
    position: absolute;
    top:150px;
    width:30px;
    left:60%;
    font-size:30px;
  }
  .pregame img{
    height:100px;
    width:100px;
  }
  .pregame h2, .postGame h2, .Instructions h2, .Instructions h5{
    font-size:20px;
  }
  .Instructions{
    left:20%;
  }

 
}
/*.root{
  height:100vh;
  width:100vw;
}
/*.Game{
  position:absolute;
  top:50%;
  color:white;
}*/
